<!DOCTYPE html>
<html style="font-size: 16px;">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="Maize">
    <meta name="description" content="">
    <meta name="page_type" content="np-template-header-footer-from-plugin">
    <!-- Required meta tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">

    <link rel="stylesheet" href="font-style.css">

    <link rel="stylesheet" href="nav-owl.carousel.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/nav-bootstrap.min.css">
    
    <!-- Style -->
    <link rel="stylesheet" href="css/nav-style.css">
    <title>About</title>
    <link rel="stylesheet" href="nicepage copy.css" media="screen">
    <link rel="stylesheet" href="About.css" media="screen">
    <script class="u-script" type="text/javascript" src="jquery.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="nicepage.js" defer=""></script>
    <meta name="generator" content="Nicepage 3.22.0, nicepage.com">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Merriweather:300,300i,400,400i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">
    <link id="u-page-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i">
    
    
    <script type="application/ld+json">{
		"@context": "http://schema.org",
		"@type": "Organization",
		"name": "",
		"sameAs": []
}</script>
    <meta name="theme-color" content="#81c132">
    <meta property="og:title" content="About">
    <meta property="og:type" content="website">
    <style>
      .site-navbar{
        z-index: 5;
      }
      .cotton {
        background-image: url("images/Cotton.jpg");
      }
      .bajra {
        background-image: url("images/Bajra.jpg");
      }
      .groundnut {
        background-image: url("images/GroundNut.jpg");
      }
      .jowar {
        background-image: url("images/Jowar.jpg");
      }
      .maize {
        background-image: url("images/Maize.jpg");
      }
      .paddy {
        background-image: url("images/Paddy.jpg");
      }
      .ragi {
        background-image: url("images/Ragi.jpg");
      }
      .sunflower {
        background-image: url("images/Sunflower.jfif");
      }
      </style>
  </head>
  <body class="u-body">
    <!-- <header id="navbar" class="site-navbar site-navbar-target" role="banner" style="position: fixed; top: -112px;">

      <div class="container">
        <div class="row align-items-center position-relative">

          <div class="col-3">
            <div class="site-logo">
              <a href="#" class="font-weight-bold"><img src="favicon.png" width="80" height="80">Farmer Portal</a>
            </div>
          </div>

          <div class="col-9  text-right">
            

            <span class="d-inline-block d-lg-none"><a href="#" class="text-primary site-menu-toggle js-menu-toggle py-5"><span class="icon-menu h3 text-white"></span></a></span>


            <nav class="site-navigation text-right ml-auto d-none d-lg-block" role="navigation">
              <ul class="site-menu main-menu js-clone-nav ml-auto ">
                <li><a href="http://localhost:3000/home" class="nav-link">Home</a></li>
                <li class="active"><a href="http://localhost:3000/crops" class="nav-link">Custom Crop Suggestions</a></li>
                <li><a href="http://localhost:3000/schemes" class="nav-link">Custom Scheme Suggestions</a></li>
                <li><a href="http://localhost:3000/" class="nav-link">Logout</a></li>
              </ul>
            </nav>
          </div>

          
        </div>
      </div>

    </header> -->
    <section class="u-align-center u-clearfix u-image u-section-1" id="sec-713b" data-image-width="1600" data-image-height="989">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <div class="u-clearfix u-gutter-0 u-layout-wrap u-layout-wrap-1">
          <div class="u-layout" >
            <div class="u-layout-row">
                <% if (img1 == "Cotton") { %>
                  <div class="u-align-left u-container-style u-image u-layout-cell u-left-cell u-size-30 u-size-xs-60 u-image-1 cotton" src="" data-image-width="1600" data-image-height="900">
                    <% } %>
                <% if (img1 == "Bajra") { %>
                  <div class="u-align-left u-container-style u-image u-layout-cell u-left-cell u-size-30 u-size-xs-60 u-image-1 bajra" src="" data-image-width="1600" data-image-height="900">
                    <% } %>
                <% if (img1 == "GroundNut") { %>
                  <div class="u-align-left u-container-style u-image u-layout-cell u-left-cell u-size-30 u-size-xs-60 u-image-1 groundnut" src="" data-image-width="1600" data-image-height="900">
                    <% } %>
                <% if (img1 == "Jowar") { %>
                  <div class="u-align-left u-container-style u-image u-layout-cell u-left-cell u-size-30 u-size-xs-60 u-image-1 jowar" src="" data-image-width="1600" data-image-height="900">
                    <% } %>
                <% if (img1 == "Maize") { %>
                  <div class="u-align-left u-container-style u-image u-layout-cell u-left-cell u-size-30 u-size-xs-60 u-image-1 maize" src="" data-image-width="1600" data-image-height="900">
                    <% } %>
                <% if (img1 == "Paddy") { %>
                  <div class="u-align-left u-container-style u-image u-layout-cell u-left-cell u-size-30 u-size-xs-60 u-image-1 paddy" src="" data-image-width="1600" data-image-height="900">
                    <% } %>
                <% if (img1 == "Ragi") { %>
                  <div class="u-align-left u-container-style u-image u-layout-cell u-left-cell u-size-30 u-size-xs-60 u-image-1 ragi" src="" data-image-width="1600" data-image-height="900">
                    <% } %>
                <% if (img1 == "Sunflower") { %>
                  <div class="u-align-left u-container-style u-image u-layout-cell u-left-cell u-size-30 u-size-xs-60 u-image-1 sunflower" src="" data-image-width="1600" data-image-height="900">
                    <% } %>
                <div class="u-container-layout u-valign-middle u-container-layout-1" src=""></div>
              </div>
              <div class="u-align-left u-black u-container-style u-layout-cell u-opacity u-opacity-75 u-right-cell u-size-30 u-size-xs-60 u-layout-cell-2">
                <div class="u-container-layout u-container-layout-2">
                  <h2 class="u-text u-text-default u-text-1"><%=cropTitle%></h2>
                  <p class="u-text u-text-2"><%=cropText%></p>
                  <div class="u-container-style u-group u-group-1">
                    <div class="u-container-layout">
                      <h4 class="u-custom-font u-font-montserrat u-text u-text-default u-text-3"><%=humidity%>%RH</h4>
                      <div class="u-shape u-shape-svg u-text-white u-shape-1">
                        <svg class="u-svg-link" preserveAspectRatio="none" viewBox="0 0 160 160"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-281c"></use></svg>
                        <svg class="u-svg-content" viewBox="0 0 160 160" x="0px" y="0px" id="svg-281c" style="enable-background:new 0 0 160 160;"><path d="M80,39.1c-22.5,0-40.9,18.3-40.9,40.9s18.3,40.9,40.9,40.9s40.9-18.3,40.9-40.9S102.5,39.1,80,39.1z M75.3,0h9.4v28.4h-9.4
	V0z M75.3,131.6h9.4V160h-9.4V131.6z M131.6,75.3H160v9.4h-28.4V75.3z M0,75.3h28.4v9.4H0V75.3z M113.1,119.8l6.6-6.6l20.1,20.1
	l-6.6,6.6L113.1,119.8z M20.1,26.7l6.6-6.6l20.1,20.1l-6.6,6.6L20.1,26.7z M20.1,133.3l20.1-20.1l6.6,6.6l-20.1,20.1L20.1,133.3z
	 M113.1,40.2l20.1-20.1l6.6,6.6l-20.1,20.1L113.1,40.2z"></path></svg>
                      </div><span class="u-icon u-icon-circle u-text-white u-icon-1"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 56 56"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-f6f0"></use></svg><svg class="u-svg-content" viewBox="0 0 56 56" x="0px" y="0px" id="svg-f6f0" style="enable-background:new 0 0 56 56;"><path d="M25,46H10.845C4.865,46,0,41.135,0,35.154C0,31,2.705,26.688,6.433,24.901L7,24.63V24c0-0.127,0.008-0.256,0.015-0.386
	l0.009-0.16l-0.012-0.21C7.006,23.163,7,23.082,7,23c0-3.859,3.141-7,7-7c0.309,0,0.614,0.027,0.917,0.067
	c0.078,0.01,0.156,0.023,0.233,0.036c0.267,0.044,0.53,0.102,0.789,0.177c0.035,0.01,0.071,0.017,0.106,0.027
	c0.285,0.087,0.563,0.197,0.835,0.321c0.071,0.032,0.14,0.067,0.21,0.101c0.24,0.119,0.475,0.249,0.702,0.396
	C19.719,18.373,21,20.538,21,23c0,0.553,0.447,1,1,1s1-0.447,1-1c0-2.754-1.246-5.219-3.2-6.871C22.667,12.379,27.388,10,32.085,10
	c7.745,0,14.177,6.135,14.848,13.888c-1.022-0.072-2.552-0.109-4.083,0.124c-0.546,0.083-0.921,0.593-0.838,1.139
	c0.075,0.495,0.501,0.85,0.987,0.85c0.05,0,0.101-0.004,0.151-0.012c2.227-0.337,4.548-0.021,4.684-0.002
	C52.49,26.872,56,31.161,56,35.972C56,41.501,51.501,46,45.972,46H33H25z"></path></svg></span>
                      <h4 class="u-custom-font u-font-montserrat u-text u-text-default u-text-4"><%=rainfall%>mm</h4>
                      <div class="u-shape u-shape-svg u-text-white u-shape-2">
                        <svg class="u-svg-link" preserveAspectRatio="none" viewBox="0 0 160 140"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-f20e"></use></svg>
                        <svg class="u-svg-content" viewBox="0 0 160 140" x="0px" y="0px" id="svg-f20e"><path d="M132.8,18.5c-19.5,5.6-60.2,1.8-96.6,21C-0.3,58.7-1.5,93.4,0.7,104.9c1.3,6.6,6,10.2,9.8,12c1.6-7.5,3.9-15.6,7.7-23.3
	C35,63.2,68,54.1,73.5,52.1c2.9-1,8.3-2.4,14.6-3.8c6.4-1.3,13.3-2.9,20.1-5.4c13.4-4.5,24.9-10,24.8-10c0,0-10.7,6.9-23.7,13
	c-6.3,3.2-13.8,5.8-19.9,7.6c-6.1,2-11.2,3.7-14,4.7c-2.8,1-11.7,3.8-21.7,10.2c-5.1,3.3-10.2,7.2-15.7,12.4
	c-5,4.3-9.1,10.2-12,16.7c-5,11.4-6.8,23.9-7.4,33.9c3.2,4.1,9.5,7.9,21.5,8.6C143.8,130.5,160,0,160,0S152.3,12.8,132.8,18.5z"></path></svg>
                      </div>
                      <div class="u-shape u-shape-svg u-text-white u-shape-3">
                        <svg class="u-svg-link" preserveAspectRatio="none" viewBox="0 0 160 140"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-ad40"></use></svg>
                        <svg class="u-svg-content" viewBox="0 0 160 140" x="0px" y="0px" id="svg-ad40" style="enable-background:new 0 0 160 140;"><path d="M160,70l-4.2-7.4h-18.6l8.1-14.2L141,41h-8.4l-12.3,21.6H92.7l13.8-24.2h24.7l4.2-7.4l-4.2-7.4h-16.3l9.3-16.3L120,0h-8.4
	l-9.3,16.3L94.2,2.1h-8.4l-4.2,7.4l12.3,21.6L80,55.2L66.2,31.1L78.5,9.5l-4.2-7.4h-8.4l-8.1,14.2L48.4,0H40l-4.2,7.4l9.3,16.3H28.8
	l-4.2,7.4l4.2,7.4h24.7l13.8,24.2H39.7L27.4,41H19l-4.2,7.4l8.1,14.2H4.2L0,70l4.2,7.4h18.6l-8.1,14.2L19,99h8.4l12.3-21.6h27.6
	l-13.8,24.2H28.8l-4.2,7.4l4.2,7.4h16.3l-9.3,16.3L40,140h8.4l9.3-16.3l8.1,14.2h8.4l4.2-7.4l-12.3-21.6l13.8-24.2l13.8,24.2
	l-12.3,21.6l4.2,7.4H94l8.1-14.2l9.3,16.3h8.4l4.2-7.4l-9.3-16.3H131l4.2-7.4l-4.2-7.4h-24.7L92.5,77.3h27.6l12.3,21.6h8.4l4.2-7.4
	l-8.1-14.2h18.6L160,70z"></path></svg>
                      </div>
                      <h4 class="u-custom-font u-font-montserrat u-text u-text-default u-text-5"><%=temp%>C</h4>
                      <h4 class="u-custom-font u-font-montserrat u-text u-text-default u-text-6"><%=soil%></h4>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
  <script>
    var prevScrollpos = window.pageYOffset;
    window.onscroll = function() {
      var currentScrollPos = window.pageYOffset;
      if (prevScrollpos > currentScrollPos) {
        document.getElementById("navbar").style.top = "0";
        document.getElementById("navbar").style.background = "rgba(0,0,0,0.7)";
      } else {
        document.getElementById("navbar").style.top = "-112px";
      }
      prevScrollpos = currentScrollPos;
    }
  </script>
</html>