<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <meta charset="utf-8">
    <!-- Required meta tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">

    <link rel="stylesheet" href="font-style.css">

    <link rel="stylesheet" href="nav-owl.carousel.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/nav-bootstrap.min.css">
    
    <!-- Style -->
    <link rel="stylesheet" href="css/nav-style.css">
    <title>Home</title>
    <link rel="stylesheet" href="style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <script src="https://www.gstatic.com/dialogflow-console/fast/messenger/bootstrap.js?v=1"></script>
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
	  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script>
      $(document).ready(function(){
        $(".notification_icon .fa-bell").click(function(){
          $(".dropdown").toggleClass("active");

        })
      });
    </script>
    <df-messenger
      intent="WELCOME"
      chat-title="farmer-portal"
      chat-icon="https://i.postimg.cc/NFsJtsCP/robot.png""
      agent-id="90afe7df-980d-4e9b-9622-d1bb39dbee64"
      language-code="en"
    ></df-messenger>
    <style>
  df-messenger {
   --df-messenger-bot-message: #878fac;
   --df-messenger-button-titlebar-color: #42e72f;
   --df-messenger-chat-background-color: rgb(212, 255, 173);
   --df-messenger-font-color: white;
   --df-messenger-send-icon: #878fac;
   --df-messenger-user-message: #42e72f;
  }

body {
  background-image: url('ramkumar-radhakrishnan-wikimedia-1622193304.jpeg');
}
.button {
  border: none;
  color: #92D050;
  padding: 16px 42px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1 {
  background-color: Transparent; 
  color:black ; 
  border: 2px solid black;
}

.button1:hover {
  background-color: black;
  color: #92D050;
  background-attachment: fixed;
}
.button2 {
  background-color: transparent; 
  color:black ; 
  border: 2px solid black;
  background-attachment: fixed;
}

.button2:hover {
  background-color: black;
  color: #92D050;
}
.yes {
  border: 2px solid #A9D18E;
  font-family: sans-seris;
  margin: 150px;
  padding: 20px;
  position: absolute;
  bottom: 0px;
  top:100px;
  z-index:-1;
  background-color:black;
  height: 300px;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  color: #A9D18E;
}
h2 {
  text-align: center;
  color: #A9D18E;
}

p {
  text-indent: 50px;
  text-align: justify;
  letter-spacing: 3px;
   color: #A9D18E;
}

a {
  text-decoration: none;
  color: #A9D18E;
}
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}


.notification_wrap{
	width: 300px;
  position: absolute;
  right: 1000px;
  top: -40px;
	margin: 50px auto 0;
}

.notification_wrap .notification_icon{
	position: relative;
	width: 50px;
	height: 50px;
	font-size: 70px;
	margin: 0 auto;
	text-align: center;
	color: transparent;
}

.notification_wrap .notification_icon:hover{
	position: relative;
	width: 50px;
	height: 50px;
	font-size: 70px;
	margin: 0 auto;
	text-align: center;
	color: transparent;
}

.notification_wrap .notification_icon .fa-bell{
	cursor: pointer;
}

.notification_wrap .dropdown{
	width: 220px;
	height: 310px;
	background: #fff;
	border-radius: 5px;
	box-shadow: 2px 2px 3px rgba(0,0,0,0.125);
	margin: 50px auto 0;
	padding: 15px;
	position: relative;
	display: none;
}

.notification_wrap .dropdown .notify_item{
	display: flex;
	align-items: center;
	padding: 10px 0;
	border-bottom: 1px solid #dbdaff;
}

.notification_wrap .dropdown .notify_item:last-child{
	border-bottom: 0px;
}

.notification_wrap .dropdown .notify_item .notify_img{
	margin-right: 15px;
}

.notification_wrap .dropdown .notify_item .notify_info p{
	margin-bottom: 5px;
  margin-left: -50px;
  color: #479b3d;
}

.notification_wrap .dropdown .notify_item .notify_info p span{
	color: #605dff;
	margin-left: 5px;
}

.notification_wrap .dropdown .notify_item .notify_info .notify_time{
	color: #000;
  opacity: 0.8;
	font-size: 12px;
}

.notification_wrap .dropdown:before{
	content: "";
	position: absolute;
	top: -30px;
	left: 50%;
	transform: translateX(-50%);
	border: 15px solid;
	border-color: transparent transparent #fff transparent;
}

.notification_wrap .dropdown.active{
	display: block;
}


</style>
  </head>
  <body>
    <header class="site-navbar site-navbar-target" role="banner">

      <div class="container">
        <div class="row align-items-center position-relative">

          <div class="col-3">
            <div class="site-logo">
              <a href="#" class="font-weight-bold"><img src="favicon.png" width="80" height="80">Farmer Portal</a>
            </div>
          </div>

          <div class="col-9  text-right">
            

            <span class="d-inline-block d-lg-none"><a href="#" class="text-primary site-menu-toggle js-menu-toggle py-5"><span class="icon-menu h3 text-white"></span></a></span>


            <nav class="site-navigation text-right ml-auto d-none d-lg-block" role="navigation">
              <ul class="site-menu main-menu js-clone-nav ml-auto ">
                <li class="active"><a href="http://localhost:3000/home" class="nav-link">Home</a></li>
                <li><a href="http://localhost:3000/crops" class="nav-link">Custom Crop Suggestions</a></li>
                <li><a href="http://localhost:3000/schemes" class="nav-link">Custom Scheme Suggestions</a></li>
                <li><a href="http://localhost:3000/stats" class="nav-link">Alerts</a></li>
                <li><a href="http://localhost:3000/" class="nav-link">Logout</a></li>
              </ul>
            </nav>
          </div>

          
        </div>
      </div>

    </header>
  <div class="mainbanner">
  
    <div class="wrapper">
      <button class="button button1" onclick="crops()">Custom Crops</button>
      <button class="button button2" onclick="schemes()">Custom Schemes</button>
      <div class="search-input">
        <a href="" target="_blank" hidden></a>
        <form action="/home" method="post">
          <input type="text" id="keyword" name="keyword" placeholder="Enter Keywords...">
          <div class="autocom-box">
            <!-- here list are inserted from javascript -->
          </div>
          <button class="icon"><i class="fas fa-search"></i></button>
          <!-- <div class="icon"><i class="fas fa-search"></i></div> -->
        
        </form>
      </div>
    </div>
  </div>
  <div class="notif-wrapper">
    <div class="notification_wrap">
      <div class="notification_icon">
        <i class="fas fa-bell"></i>
      </div>
      <div class="dropdown">
        <% for (var i = 0; i < notifs.length; i ++) { %>
          <div class="notify_item">
            <div class="notify_info">
              <h3 class = "notify_time"><%= notifs[i].Subject %></h3>
              <p class = "notify_time"><%= notifs[i].Content %></p>
            </div>
          </div>
         <% } %>
        <!-- <div class="notify_item">
          <div class="notify_info">
            <h3 class = "notify_time"><%= sub1 %></h3>
            <p class = "notify_time"><%= notif1 %></p>
          </div>
        </div>
        <div class="notify_item">
          <div class="notify_info">
            <h3 class = "notify_time"><%= sub2 %></h3>
            <p class = "notify_time"><%= notif2 %></p>
          </div>
        </div>
        <div class="notify_item"> -->
          <!-- <div class="notify_img">
            <img src="images/not_3.png" alt="profile_pic" style="width: 50px">
          </div> -->
          <!-- <div class="notify_info">
            <p>Notification 3</p>
            <span class="notify_time">6 hours ago</span>
          </div>
        </div>
        <div class="notify_item"> -->
          <!-- <div class="notify_img">
            <img src="images/not_4.png" alt="profile_pic" style="width: 50px">
          </div> -->
          <!-- <div class="notify_info">
            <p>Notification 4</p>
            <span class="notify_time">6 hours ago</span>
          </div>
        </div> -->
      </div>
    </div>
  </div>
    <script src="script.js"></script>
    <script src="suggestions.js"></script>

  </body>
</html>
